<!DOCTYPE html>
<html lang="en">
<title>Autovisor Deployment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-large w3-blue">
        </a><img src="images/Logo.png" class="w3-right" style="width: 80px">
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home Page</a>
        <a href="/client" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Client Page</a>
        <a href="/admin" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Admin Page</a>
    </div>
</div>
<div class="w3-content" style="width:100% ">
    <br>
    <br>

    {{{body}}}

</div>

</body>
</html>