<div>
    <form action="/getIP" method="post">
        <h2>Your Machine has been deployed</h2>
        <input name="vmID" type="text" value="{{deployed}}" readonly>
        <button class="w3-btn w3-blue">Get Details</button>
    </form>
</div>