<div>
    <h1>Your Virtual Machine has Started up </h1>
    <h2>To connect to the virtual machine enter this IP address into the remote desktop client.</h2>
    <h3>{{ip}}</h3>
    <a href="/" class=" w3-button w3-blue">Return To Home Page</a>
</div>